.footer-container{
    z-index: 9999;
    width: 100%;
    margin: 0 auto;
    padding: 32px 12px 12px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #242729;
    height: 100px;
}

.footer-button{
    cursor: pointer;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color:  #bbc0c4;
}

.footer-button:hover{
    color: #fff; 
}

